<ng-container  *ngIf="true">
    <div class="container">
        <div class="card-table">
            <div class="card-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>ชื่อหนัง</th>
                            <th>รูปหนัง</th>
                            <th>ราคา</th>
                            <th>ลบ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>กฟกฟ</td>
                            <td>แืผปมทแผืแผทมป</td>
                            <td><button class="btn btn-danger"><i class="material-symbols-outlined">delete</i></button></td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="false">
  <div class="container">
    <div class="card">
      <h4 class="card-title">ตะกร้าของคุณ</h4>
    </div>
    <div class="center">
      <img src="../assets/img/notsp.jpg" alt="" />
      <h5>ไม่มีสินค้าอยู่ในตะกร้าของคุณ</h5>
      <h6>คุณต้องการเพิ่มรายการสินค้า</h6>
      <button class="btn btn-primary">กลับไปซื้อสินค้า</button>
    </div>
  </div>
</ng-container>
