<header>
  <nav class="navbar">
    <div class="box-bg container-fluid">
      <a class="navbar-brand logo">Logo</a>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
        <button routerLink="cart" class="cart-box btn">
          <i class="material-symbols-outlined">shopping_bag</i>
          <div class="badge bg-danger">{{totalItemNumber}}</div>
        </button>
      </form>
    </div>
  </nav>
</header>

<!-- <app-products></app-products> -->
